.faqq img
{
    height: 300px;
    width: auto;
} 

.carimg
{
    margin-top: 30px;
    margin-left: 50px;
}

.carhed
{
    margin-top: 120px;
    color: rgb(207, 54, 54);
}
.testimg img
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.testimg h1,
.testimg p
{
    margin-left: 80px;
}
.formon
{
    margin-top: 50px;
}

.footer
{
    margin-top: 50px;
    text-align: center;
    justify-content: space-between;
    background-color: #adadad98;
}
/* pinaki css */
.carousel{
    width: 80%;
    height: 40%;
   margin-left: 10%;
}
.carousel img{
width: 60%;
height: 40%;
background-position: 0%;
background-attachment: fixed;
opacity: inherit;
}


#gallery{
    margin-top: 5%;
    margin-left: 5%;

}
/* .col-4 {

    background-position: 0%;
    background-attachment: fixed;
} */
.col img{
    height: 300px;

    width: 300px;
    border-radius: 50%;
    
}
.col h3{
   text-align: center;
}
#midimg{
    margin-right: 10%;
    margin-left: 9%;
}